.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.header {
    @extend .text-bold;
    text-align: center;
    font-size: 24px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-header,
.subtitle {
    @extend .text-bold;
    @extend .text-white;
    font-size: 18px;
    padding-right: 5%;
}

.currency-header {
    padding-bottom: 4%;
}

